<div class="container">
  <div class="progress-bar">
    <div class="row">
      <div class="col-sm-6">
        <app-progresso></app-progresso>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-tentativas></app-tentativas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h6>Translate the phrase:</h6>
        <p>O que esta fazendo?</p>

        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>

        <div
          class="d-flex align-items-end flex-column mb-3"
          style="height: 150px"
        >
          <button class="btn btn-primary mt-auto p-2">Check answer</button>
          <!-- <textarea class="form-text" rows="7" cols="50"></textarea> -->
        </div>
      </div>
    </div>
  </div>
</div>
